In [1]:
import pandas as pd
import numpy as np

In [2]:
# vs code to run this commond 
df = pd.read_csv('E:\paul\AAFT\stct\Fortune500.csv')

# jupyter notebook / google colab to run this command

#df = pd.read_csv('Fortune500.csv')

<>:2: SyntaxWarning: invalid escape sequence '\p'
<>:2: SyntaxWarning: invalid escape sequence '\p'
C:\Users\Tinku\AppData\Local\Temp\ipykernel_1740\591216933.py:2: SyntaxWarning: invalid escape sequence '\p'
  df = pd.read_csv('E:\paul\AAFT\stct\Fortune500.csv')

In [ ]:
#first five  rows


df.head()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
0,1,Walmart,2300000,Retailing,General Merchandisers,Bentonville,C. Douglas McMillon,"President, Chief Executive Officer & Director",485873,0.8,13643.0,-7.2,198825
1,2,Berkshire Hathaway,367700,Financials,Insurance: Property and Casualty (Stock),Omaha,Warren E. Buffett,Chairman & Chief Executive Officer,223604,6.1,24074.0,0,620854
2,3,Apple,116000,Technology,"Computers, Office Equipment",Cupertino,Timothy D. Cook,Chief Executive Officer & Director,215639,-7.7,45687.0,-14.4,321686
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,Irving,Darren W. Woods,Chairman & Chief Executive Officer,205004,-16.7,7840.0,-51.5,330314
4,5,McKesson,68000,Wholesalers,Wholesalers: Health Care,San Francisco,John H. Hammergren,"Chairman, President & Chief Executive Officer",192487,6.2,2258.0,53,56563

In [ ]:
# last 5 rows


df.tail()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
495,496,Michaels Cos.,31000,Retailing,Specialty Retailers: Other,Irving,Carl S. Rubin,Chairman & Chief Executive Officer,5197,5.8,378.2,4.2,2148
496,497,Toll Brothers,4200,Engineering & Construction,Homebuilders,Horsham,Douglas C. Yearley Jr.,Chief Executive Officer & Director,5170,23.9,382.1,5.2,9737
497,498,Yahoo,8500,Technology,Internet Services and Retailing,Sunnyvale,Marissa A. Mayer,"President, Chief Executive Officer & Director",5169,4.0,-214.3,5.2,48083
498,499,Vistra Energy,4431,Energy,Energy,Dallas,Curtis A. Morgan,"President, Chief Executive Officer & Director",5164,4.0,-214.3,5.2,15167
499,500,ABM Industries,110000,Business Services,Diversified Outsourcing Services,New York,Scott B. Salmirs,"President, Chief Executive Officer & Director",5145,-2.8,57.2,-25,2281

In [5]:
# rows n colums
df.shape

(500, 13)

In [6]:
# information about the colums
# very imp before working toh data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        500 non-null    int64
 1   Title       500 non-null    object
 2   Employees   500 non-null    int64
 3   Sector      500 non-null    object
 4   Industry    500 non-null    object
 5   Hqcity      500 non-null    object
 6   Ceo         500 non-null    object
 7   Ceo-title   500 non-null    object
 8   Revenues    500 non-null    int64
 9   Revchange   500 non-null    float64
 10  Profits     500 non-null    float64
 11  Prftchange  500 non-null    object
 12  Assets      500 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 50.9+ KB

In [7]:
sub_df = df[['Rank','Title','Employees','Sector','Revenues','Profits']]

In [8]:
sub_df.head(10)

,Rank,Title,Employees,Sector,Revenues,Profits
0,1,Walmart,2300000,Retailing,485873,13643.0
1,2,Berkshire Hathaway,367700,Financials,223604,24074.0
2,3,Apple,116000,Technology,215639,45687.0
3,4,Exxon Mobil,72700,Energy,205004,7840.0
4,5,McKesson,68000,Wholesalers,192487,2258.0
5,6,UnitedHealth Group,230000,Health Care,184840,7017.0
6,7,CVS Health,204000,Health Care,177526,5317.0
7,8,General Motors,225000,Motor Vehicles & Parts,166380,9427.0
8,9,AT&T,268540,Telecommunications,163786,12976.0
9,10,Ford Motor,201000,Motor Vehicles & Parts,151800,4596.0

In [9]:
sub_df.tail(10)

,Rank,Title,Employees,Sector,Revenues,Profits
490,491,Liberty Media,3626,Media,5276,680.0
491,492,Rockwell Collins,19000,Aerospace & Defense,5259,728.0
492,493,Robert Half International,16400,Business Services,5250,343.4
493,494,CH2M Hill,20000,Engineering & Construction,5236,15.0
494,495,Big Lots,23150,Retailing,5200,152.8
495,496,Michaels Cos.,31000,Retailing,5197,378.2
496,497,Toll Brothers,4200,Engineering & Construction,5170,382.1
497,498,Yahoo,8500,Technology,5169,-214.3
498,499,Vistra Energy,4431,Energy,5164,-214.3
499,500,ABM Industries,110000,Business Services,5145,57.2

In [10]:
sub_df.describe()

             Rank     Employees       Revenues       Profits
count  500.000000  5.000000e+02     500.000000    500.000000
mean   250.492000  5.635013e+04   24111.748000   1779.479800
std    144.477366  1.234520e+05   38337.353337   3937.558721
min      1.000000  8.300000e+01    5145.000000  -6177.000000
25%    125.750000  1.190000e+04    7245.000000    235.725000
50%    250.500000  2.500000e+04   11384.000000    683.600000
75%    375.250000  5.682525e+04   22605.250000   1770.775000
max    500.000000  2.300000e+06  485873.000000  45687.000000

In [11]:
mean_revenues = sub_df['Revenues'].mean()
mean_revenues

24111.748

In [12]:
median_revenues = sub_df['Revenues'].median()
median_revenues

11384.0

In [13]:
mode_revenues = sub_df['Revenues'].mode()
mode_revenues

0    9061
Name: Revenues, dtype: int64

In [14]:
s = sub_df['Revenues'].min()
s

5145

In [15]:
L= sub_df['Revenues'].max()
L

485873

In [16]:
range = L-s
range

480728

In [17]:
rangee = sub_df['Revenues'].max()-sub_df['Revenues'].min()
rangee

480728

In [18]:
sd = sub_df['Revenues'].std()
sd

38337.35333653324

In [19]:
var = sub_df['Revenues'].var()
var

1469752660.8501961

IQR

In [20]:
#quantile 
# p75 =  Q3  AND P25 = Q1

In [21]:
q1=sub_df['Revenues'].quantile(0.25)
q1

7245.0

In [22]:
q3 =sub_df['Revenues'].quantile(0.75)
q3

22605.25

In [23]:
iqr = q3 -q1
iqr

15360.25

In [24]:
# iqr = q3 -a1

iqr2 = sub_df['Revenues'].quantile(0.75) - sub_df['Revenues'].quantile(0.25)
iqr2

15360.25

In [25]:
skew = sub_df['Revenues'].skew()
skew

5.480066970305041

import seaborn as sns

cv = sd / mean *100

In [26]:
cv = (sd/mean_revenues)*100
cv

158.99864803055027

In [27]:
cv2 = (sub_df['Revenues'].std() / sub_df['Revenues'].mean())*100
cv2

158.99864803055027

In [28]:
print('the cv of revenues columb is ' , round(cv2), '%')

the cv of revenues columb is  159 %

which amongst the revenuse or profits display more stabvility ?

In [29]:
cv3 = (sub_df['Profits'].std() / sub_df['Profits'].mean())*100
cv3

221.2758313353473

revenuse has less cv  , more stabvility

Profits has more cv ,less stabvility

random value

In [30]:
sub_df.sample(frac= 0.01)

     Rank                Title  Employees       Sector  Revenues  Profits
268   269  Liberty Interactive      21080    Retailing     10647   1235.0
83     84             Allstate      43275   Financials     36534   1877.0
498   499        Vistra Energy       4431       Energy      5164   -214.3
372   373  WESCO International       9000  Wholesalers      7336    101.6
472   473  Insight Enterprises       5930  Wholesalers      5486     84.7

In [31]:
sub_df.sample(5)

,Rank,Title,Employees,Sector,Revenues,Profits
499,500,ABM Industries,110000,Business Services,5145,57.2
368,369,Hershey,17140,"Food, Beverages & Tobacco",7440,720.0
54,55,AIG,56400,Financials,52367,-849.0
391,392,Dover,29000,Industrials,6794,508.9
246,247,Core-Mark Holding,7688,Wholesalers,11507,54.2

In [32]:
df_sample = sub_df.sample(frac=0.70)
df_sample

,Rank,Title,Employees,Sector,Revenues,Profits
221,222,Farmers Insurance Exchange,13309,Financials,12513,-147.9
209,210,Marsh & McLennan,60000,Financials,13211,1768.0
469,470,TravelCenters of America,20259,Retailing,5511,-2.0
53,54,Pfizer,96500,Health Care,52824,7215.0
394,395,A-Mark Precious Metals,83,Materials,6784,9.3
...,...,...,...,...,...,...
258,259,Jacobs Engineering Group,49350,Engineering & Construction,10964,210.5
212,213,Loews,15800,Financials,13105,654.0
11,12,Amazon.com,341400,Technology,135987,2371.0
295,296,Hertz Global Holdings,36000,Retailing,9480,-491.0
491,492,Rockwell Collins,19000,Aerospace & Defense,5259,728.0

In [33]:
random fix , its should be run

SyntaxError: invalid syntax (1755820784.py, line 1)

In [49]:
df_sample = sub_df.sample(frac=0.70 , random_state= 0  ) 
#df_sample
mean2 = df_sample['Revenues'].mean()
mean2

24044.977142857144

In [51]:
df_sample = sub_df.sample(frac=0.70 , random_state= 1  ) 
#df_sample
mean3 = df_sample['Revenues'].mean()
mean3

23581.79142857143

In [52]:
# print mean 2 in diff variable 

df_sample = sub_df.sample(frac=0.70 , random_state= 0  ) 
#df_sample
m = df_sample['Revenues'].mean()
m

24044.977142857144

In [36]:
iqr_new = sub_df['Revenues'].quantile(0.75)-sub_df['Revenues'].quantile(0.25)
iqr_new

15360.25

In [37]:
upper_limits = sub_df['Revenues'].quantile(0.75) + 1.5*iqr_new 
upper_limits

45645.625

In [38]:
lowert_limits = sub_df['Revenues'].quantile(0.25) - 1.5*iqr_new 
lowert_limits

-15795.375

In [51]:
Quantile = sub_df[(sub_df['Revenues'] < lowert_limits) | (sub_df['Revenues'] > upper_limits)]

Quantile

,Rank,Title,Employees,Sector,Revenues,Profits
0,1,Walmart,2300000,Retailing,485873,13643.0
1,2,Berkshire Hathaway,367700,Financials,223604,24074.0
2,3,Apple,116000,Technology,215639,45687.0
3,4,Exxon Mobil,72700,Energy,205004,7840.0
4,5,McKesson,68000,Wholesalers,192487,2258.0
...,...,...,...,...,...,...
57,58,FedEx,335767,Transportation,50365,1820.0
58,59,Hewlett Packard Enterprise,195000,Technology,50123,3161.0
59,60,Cisco Systems,73700,Technology,49247,10739.0
60,61,HP,49000,Technology,48238,2496.0
61,62,Dow Chemical,56000,Chemicals,48158,4318.0