In [25]:
import pandas as pd 
import numpy as np

In [26]:
data = {
    "gender" :[ "m", "f", "m","m" , "f","m" , "f","f","m","m"   ] , 
    "pass/fail" : ["fail","pass","fail","pass","pass","fail","pass","pass","fail","fail"]
}

In [27]:
df = pd.DataFrame(data)

In [28]:
df.head(11)

  gender pass/fail
0      m      fail
1      f      pass
2      m      fail
3      m      pass
4      f      pass
5      m      fail
6      f      pass
7      f      pass
8      m      fail
9      m      fail

In [29]:
table = pd.crosstab(df["gender"]  , df["pass/fail"])

In [30]:
table

pass/fail  fail  pass
gender
f             0     4
m             5     1

In [31]:
from scipy.stats import chi2_contingency

In [32]:
chi2 , p , dof , expectancy = chi2_contingency(table)

In [33]:
print("chi2=" , chi2)
print("p=" , p)
print("dof=" , dof)
print("expectancy=" , expectancy)

chi2= 3.75
p= 0.052807511416113395
dof= 1
expectancy= [[2. 2.]
 [3. 3.]]

In [34]:
print("p=" , p)
if p > 0.05 :
    print("there is association between the variables (ho)")
else:
    print("there is no association (ha)")

p= 0.052807511416113395
there is association between the variables

In [ ]:

sahil = 70 

suneet = 50

In [ ]:
1, 2, 3,4 
2, 4, 6, 8