In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('E:\paul\AAFT\stct\Salary_Data.csv')

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\Tinku\AppData\Local\Temp\ipykernel_3668\2639018197.py:1: SyntaxWarning: invalid escape sequence '\p'
  data = pd.read_csv('E:\paul\AAFT\stct\Salary_Data.csv')

In [3]:
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
from scipy.stats import shapiro as sp
from scipy.stats import pearsonr

In [5]:
nor = sp(data['Salary'])

print("p-value = " , nor[1])


if nor[1] > 0.05 :
    print("The data is normally distributed")
else:
    print("The data is not normally distributed")

p-value =  0.015155591078390984
The data is not normally distributed

In [6]:
nor1 = sp(data['YearsExperience'])

print("p-value = " , nor1[1])


if nor1[1] > 0.05 :
    print("The data is normally distributed")
else:
    print("The data is not normally distributed")

p-value =  0.10337645734315726
The data is normally distributed

In [8]:
nor2 = pearsonr(data["YearsExperience"] ,data["Salary"])

print("p-value = " , nor2[1])


if nor2[1] > 0.05 :
    print("the data is not likely corelated \n  accept Ho")
else:

    print("\n the data is corelated \n reject Ho" )

p-value =  1.1430681092271567e-20

 the data is corelated
 reject Ho

In [9]:
from scipy.stats import spearmanr

In [10]:
nor3 = spearmanr(data["YearsExperience"] ,data["Salary"])

print("p-value = " , nor3[1])


if nor3[1] > 0.05 :
    print("the data is not likely corelated \n  accept Ho")
else:

    print("\n the data is corelated \n reject Ho" )

p-value =  1.466992893885873e-16

 the data is corelated
 reject Ho