In [1]:
from scipy.stats import shapiro as sp

In [3]:
data =[20,10,30,40,50,60, 70, ]

# perform the shapiro - wilk - test

stats , p  = sp(data)  # sp(data) with use import shapiro as ' sp ' 

print('stats =' , stats)
print('p-value =' , p)

if p > 0.05 :
    print("The data is normally distributed")
else:
    print("The data is not normally distributed")

stats = 0.9780016294384769
p-value = 0.9492885624975852
The data is normally distributed

In [8]:
from scipy.stats import normaltest as nt
import  numpy as np

In [5]:
from scipy.stats import normaltest 
import  numpy as np

data = [10,20,30,40,50,60,70,80]

# perform the d'agostino and pearson k^2  test

stats , p  =  normaltest(data)

print('stats =' , stats)
print('p-value =' , p)

# 
h =  normaltest(data)
print('\n',h , '\n')


if p > 0.05 :
    print("The data is normally distributed")

else:
    print("The data is not normally distributed")

stats = 1.7004056883060088
p-value = 0.42732824212143383

 NormaltestResult(statistic=1.7004056883060088, pvalue=0.42732824212143383)

The data is normally distributed

c:\Users\Tinku\anaconda3\Lib\site-packages\scipy\stats\_axis_nan_policy.py:531: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=8
  res = hypotest_fun_out(*samples, **kwds)

In [10]:
import pandas as pd
import numpy as np

data = pd.read_csv('E:\paul\AAFT\stct\Salary_Data.csv')

<>:4: SyntaxWarning: invalid escape sequence '\p'
<>:4: SyntaxWarning: invalid escape sequence '\p'
C:\Users\Tinku\AppData\Local\Temp\ipykernel_9508\607518151.py:4: SyntaxWarning: invalid escape sequence '\p'
  data = pd.read_csv('E:\paul\AAFT\stct\Salary_Data.csv')

In [11]:
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [13]:
import numpy as np 
from scipy.stats import pearsonr

x  = [1,2,3,4,5, 6]
y = [2,4,6,8,10,12]

# pearson corelation 
r , p  = pearsonr(data['YearsExperience'] , data['Salary'])
#r , p  = pearsonr(x, y)

print('corelation - r -' , r )
print('p value -' , p )


if p > 0.05 :
    print("The data is normally distributed")

else:
    print("The data is not normally distributed")

corelation - r - 0.9782416184887599
p value - 1.1430681092271567e-20
The data is not normally distributed

In [15]:
import numpy as np 
from scipy.stats import spearmanr

x  = [1,2,3,4,5,6 ,7]
y = [2,4,6,8,10,12,14]

# pearson corelation 

R , p  = spearmanr(data['YearsExperience'] , data['Salary'])

print('corelation - r -' , r )
print('p value -' , p )


if p > 0.05 :
    print("The data is normally distributed")

else:
    print("The data is not normally distributed")

corelation - r - 0.9782416184887599
p value - 1.466992893885873e-16
The data is not normally distributed

sp =  1 -   (6 sum(d^2)/ n^3 - n )

kp =   sum xy 
*-------------------------
root sum(x^2) *  sum (y^2)